<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.androidpi.app">

    <application
        android:name=".AndroidPiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TodoEditActivity" />
        <activity android:name=".ui.activity.TemplateActivity" />
        <activity android:name=".ui.activity.HtmlActivity">
            <intent-filter>
                <action android:name="cn.androidpi.app.components.activity.HtmlActivity.ACTION_VIEW"/>
                <data android:scheme="http" android:host="*"/>
                <data android:scheme="https" android:host="*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>