.readability_title, .instapaper_title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.3em;
    padding: 0 0 .2rem;
    color: #404040;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

p {
    line-height: 1.5625rem;
    word-wrap: break-word;
    margin-bottom: 16px;
    text-align: justify;
    word-break: break-all;
    margin: 1.5em 0;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

